Source: ros-lyrical-sync-tooling-msgs
Section: misc
Priority: optional
Maintainer: Max Schmeller <max.schmeller@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), libprotobuf-dev, libprotoc-dev, protobuf-compiler, ros-lyrical-ament-cmake, ros-lyrical-ros-workspace
Homepage: https://index.ros.org/p/sync_tooling_msgs/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-sync-tooling-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libprotobuf32t64, ros-lyrical-ros-workspace
Description: Protobuf definitions for SYNC.TOOLING
